.sidebar
  padding-bottom: 120px

  .search-wrapper
    // margin-bottom: rem(20px)
    margin: -20px -15px 21px
    input
      border-radius: 0
  a
    color: $grey
    overflow-wrap: break-word
    &:hover, &.active
      font-weight: 700
      text-decoration: underline
  h3
    margin: rem(24px) 0 rem(6px)
    color: $main-nav
    font-family: 'Montserrat', sans-serif
    font-size: 13px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 1px
  ul
    padding: 0 0 rem(4px) rem(16px)
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif
    font-size: 100%
    line-height: 17px
    li
      padding: rem(3px) 0
      a
        font-family: 'Montserrat', sans-serif
        line-height: 18px
        padding: 0
        display: block
        font-size: 13px
  li > ul
    padding: 0 0 0px 25px

  .category
    h2
      color: #000
      font-size: 20px
      margin-top: 40px
      font-family: 'Montserrat', sans-serif
      letter-spacing: 1px

#sidebarNav.sticky
  left: 0
  transition: left 0.5s

#sidebarNav
  @include until($desktop)
    z-index: 100
    top: 0
    left: -300px
    position: fixed
    transition: left 0.5s
    padding: 28px
    width: 300px
    bottom: 0
    overflow: auto
    background: #fff
    .sidebar
      padding-bottom: 10px

#stickyNavbarOverlay
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  z-index: 40
  background: rgba(0,0,0,0.2)
  display: none

  &.active
    display: block
